<!-- profile_information.html -->

{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Profile Information</h5>
                        <p><strong>Username:</strong> {{ user.username }}</p>
                        <p><strong>First Name:</strong> {{ user.first_name }}</p>
                        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
                        <p><strong>Wallet Balance:</strong> {{ user_wallet.balance }}</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">Edit Profile</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <h5 class="card-title">FAQs</h5>
                <ul>
                    <li>
                        <strong>What happens when I update my email address (or mobile number)?</strong>
                        Your login email id (or mobile number) changes, likewise. You'll receive all your account related communication on your updated email address (or mobile number).
                    </li>
                    <li>
                        <strong>When will my Flipkart account be updated with the new email address (or mobile number)?</strong>
                        It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.
                    </li>
                    <li>
                        <strong>What happens to my existing Flipkart account when I update my email address (or mobile number)?</strong>
                        Updating your email address (or mobile number) doesn't invalidate your account. Your account remains fully functional. You'll continue seeing your Order history, saved information, and personal details.
                    </li>
                    <li>
                        <strong>Does my Seller account get affected when I update my email address?</strong>
                        Flipkart has a 'single sign-on' policy. Any changes will reflect in your Seller account also.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Wallet Balance Section -->
<section class="section-content padding-y bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Wallet Balance</h5>
                        <p><strong>Your current wallet balance:</strong> ${{ user_wallet.balance }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
                
                <div class="modal-body">
                    <form id="editProfileForm" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                        </div>
                        <div class="form-group">
                            <label for="phone_number">Phone Number</label>
                            <input type="tel" class="form-control" id="phone_number" name="phone_number" value="{{ user.phone_number }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            
        </div>
    </div>
</div>
{% comment %} =---------------change password modal {% endcomment %}
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm" action="{% url 'profile_information' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="current_password">Current Password</label>
                        <input type="password" class="form-control" id="current_password" name="current_password" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password1">New Password</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                    </div>
                    <div class="form-group">
                        <label for="new_password2">Confirm New Password</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                    </div>
                    <button type="submit" name="change_password" value="true" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
