{% extends 'adminauth/adminbase.html' %}
{% load static %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add New Category</h6>
                <form method="post" action="{% url 'add_category' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="category_title" class="form-label">Category Title</label>
                        <input type="text" class="form-control" id="category_title" name="category_title" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
