{% extends 'adminauth/adminbase.html' %}
{% load static %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Responsive Table</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ProductId</th>
                                <th scope="col">ProductName</th>
                                <th scope="col">Category</th>
                                <th scope="col">Image</th>
                                <th scope="col">Marked Price</th>
                                <th scope="col">Selling Price</th>
                                <th scope="col">Stock </th>
                                <th scope="col">Availablity</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ product.title }}</td>
                                <td>{{ product.category }}</td>
                                <td class="align-middle text-center">
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="{{ product.title }}" style="max-width: 100px;">
                                    {% else %}
                                        No Image Available
                                    {% endif %}
                                </td>
                                <td class="align-middle">{{ product.marked_price }}</td>
                                <td class="align-middle">{{ product.selling_price }}</td>
                                <td class="align-middle">{{ product.view_count }}</td>

                                <td class="align-middle text-center">{{ product.is_available }}</td>
                                <td class="align-middle text-center">
                                    <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'add_product' %}" class="btn btn-primary">Add Product</a>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
